<div class="detail">
    <div class="row">
        <div class="amount">
            <app-autocomplete [initial]="product" [onOptionShow]="productAutompleteHelper.onOptionShow"
                [placeholder]="'Producto'" (onSelected)="productAutompleteHelper.onSelected($event)"
                (onChange)="productAutompleteHelper.onLoad($event)" [datasource]="products">
            </app-autocomplete>
        </div>
        <div class="description">
            <app-autocomplete [initial]="product" [onOptionShow]="productAutompleteHelper.onOptionShow"
                [placeholder]="'Producto'" (onSelected)="productAutompleteHelper.onSelected($event)"
                (onChange)="productAutompleteHelper.onLoad($event)" [datasource]="products">
            </app-autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="measure">
            <app-autocomplete [initial]="measureUnit" [onOptionShow]="measureUnitAutompleteHelper.onOptionShow"
                [placeholder]="'Medida'" (onSelected)="measureUnitAutompleteHelper.onSelected($event)"
                (onChange)="measureUnitAutompleteHelper.onLoad($event)" [datasource]="measuresUnit">
            </app-autocomplete>
        </div>
        <div class="price">
            <app-autocomplete [initial]="product" [onOptionShow]="productAutompleteHelper.onOptionShow"
                [placeholder]="'Producto'" (onSelected)="productAutompleteHelper.onSelected($event)"
                (onChange)="productAutompleteHelper.onLoad($event)" [datasource]="products">
            </app-autocomplete>
        </div>
        <div class="total">
            <mat-form-field [subscriptSizing]="'dynamic'">
                <mat-label>Importe</mat-label>
                <input type="text" placeholder="Importe" disabled [value]="onImporteSum()" matInput />
            </mat-form-field>
        </div>
        <div class="control">
            <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>