<app-superposition-loading *ngIf="onSaveLoading$ | async">
    <mat-spinner></mat-spinner>
</app-superposition-loading>
<div>
    <div class="sku">
        <mat-form-field appearance="fill">
            <mat-label>SKU</mat-label>
            <input type="text" [(ngModel)]="product.sku!" matInput placeholder="SKU">
        </mat-form-field>
    </div>
    <div class="name">
        <mat-form-field appearance="fill">
            <mat-label>Nombre del Producto</mat-label>
            <input type="text" [(ngModel)]="product.name!" matInput placeholder="Nombre del Producto">
        </mat-form-field>
    </div>
    <div class="description">
        <mat-form-field appearance="fill">
            <mat-label>Descripción del Producto</mat-label>
            <textarea [(ngModel)]="product.description!" matInput></textarea>
        </mat-form-field>
    </div>
    <div class="price-cost">
        <mat-form-field appearance="fill">
            <mat-label>Costo</mat-label>
            <input type="number" [(ngModel)]="product.priceCost!" matInput placeholder="Precio costo">
        </mat-form-field>
    </div>
    <div class="measure">
        <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Tipo de Medida</mat-label>
            <input type="text" placeholder="Tipo de Medida" matInput [(ngModel)]="measure!"
                (ngModelChange)="onChangeMeasure($event)" [matAutocomplete]="measureA" />
            <mat-autocomplete #measureA="matAutocomplete" [displayWith]="onShowMeasure">
                <mat-option *ngFor="let item of measures" [value]="onShowMeasure(item)" (click)="onSelectMeasure(item)">
                    {{ onShowMeasure(item) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="product-type">
        <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Tipo de Producto</mat-label>
            <input type="text" placeholder="Tipo de Producto" matInput [(ngModel)]="productType!"
                (ngModelChange)="onChangeProductType($event)" [matAutocomplete]="productTypeA" />
            <mat-autocomplete #productTypeA="matAutocomplete" [displayWith]="onShowProductType">
                <mat-option *ngFor="let item of productTypes" [value]="onShowProductType(item)" (click)="onSelectProductType(item)">
                    {{ onShowProductType(item) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>
    <div class="maintenance-step">
        <ng-container *ngFor="let item of product.productMaintenanceSteps; let i = index">
            <app-product-maintenance-step [detail]="item" (onChange)="onChangeDetail(i, item)" (onDelete)="onDeleteDetail(i, item)"></app-product-maintenance-step>
        </ng-container>
    </div>
</div>
<app-button-float [iconName]="'add'" (onClick)="onAddDetail()" />
<app-button-float [position]="2" [iconName]="'save'" (onClick)="onSave()" />