<app-superposition-loading *ngIf="onSaveLoading$ | async">
    <mat-spinner></mat-spinner>
</app-superposition-loading>
<div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input type="number" [(ngModel)]="discharge.number!" matInput placeholder="Número">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Fecha de Inicio Programada
            </mat-label>
            <input matInput [ngxMatDatetimePicker]="dateStartSceduledA" [(ngModel)]="discharge.dateStartScheduled">
            <mat-datepicker-toggle matIconSuffix [for]="$any(dateStartSceduledA)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #dateStartSceduledA></ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Fecha de Fin Programada
            </mat-label>
            <input matInput [ngxMatDatetimePicker]="dateEndScheduledA" [(ngModel)]="discharge.dateEndScheduled">
            <mat-datepicker-toggle matIconSuffix [for]="$any(dateEndScheduledA)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #dateEndScheduledA></ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Fecha Inicio
            </mat-label>
            <input matInput [ngxMatDatetimePicker]="dateStartA" [(ngModel)]="discharge.dateStart">
            <mat-datepicker-toggle matIconSuffix [for]="$any(dateStartA)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #dateStartA></ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Fecha Fin
            </mat-label>
            <input matInput [ngxMatDatetimePicker]="dateEndA" [(ngModel)]="discharge.dateEnd">
            <mat-datepicker-toggle matIconSuffix [for]="$any(dateEndA)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #dateEndA></ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
    <ng-container *ngFor="let detail of discharge.dischargeDetailScheduleds; let i = index">
        <app-discharge-form-scheduled (onLoad)="onLoad(i)" [attr.id]="'detail' + i" [detail]="detail" (onDelete)="onDeleteDetail(i, $event)"
            (onChange)="onChangeDetail(i, $event)"></app-discharge-form-scheduled>
    </ng-container>
</div>
<app-button-float [iconName]="'add'" (onClick)="onAddDetail()" />
<app-button-float [position]="2" [iconName]="'save'" (onClick)="onSave()" />