.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    .date-range-management {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    .title{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .view-type-management {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        flex: 1;
    }
}