<p>
<div *ngIf="authService.onLogInLoading$ | async; else content">
  <mat-spinner></mat-spinner>
  <div class="spinner"></div>
</div>
<ng-template #content>
  <div>
    <button mat-raised-button color="primary" (click)="onVerify()">Verificar Token</button>
  </div>
</ng-template>

<app-card-module [title]="'Productos'" [url]="'app/inventory/product'"></app-card-module>
<app-card-module [title]="'Usuarios'" [url]="'app/user'"></app-card-module>
<app-card-module [title]="'Roles'" [url]="'app/authz'"></app-card-module>
<app-card-module [title]="'Cotizaciones'" [url]="'app/quotation'"></app-card-module>
<app-card-module [title]="'Mantenimientos'" [url]="'app/maintenance'"></app-card-module>
<app-card-module [title]="'Cargar'" [url]="'app/charge'"></app-card-module>
<app-card-module [title]="'Descargar'" [url]="'app/discharge'"></app-card-module>