<div class="detail">
    <div class="header">
        <div class="order">
            <mat-form-field appearance="fill">
                <mat-label>Orden - <span> {{order}}</span></mat-label>
                <input type="number" [(ngModel)]="detail.order!" matInput placeholder="Orden">
            </mat-form-field>
        </div>
        <div class="order">
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput [(ngModel)]="detail.description!" placeholder="Descripción"></textarea>
            </mat-form-field>
        </div> 
    </div>
    <div class="content">
        <ng-container *ngFor="let item of detail.maintenanceStepDetails; let i = index">
            <app-maintenance-step-detail [detail]="item"></app-maintenance-step-detail>
        </ng-container>
    </div>
</div>