<div class="detail">
    <div class="amount">
        <mat-form-field appearance="fill">
            <mat-label>Monto - {{amount}}</mat-label>
            <input type="number" [(ngModel)]="detail.amount!" matInput placeholder="Monto">
        </mat-form-field>
    </div>
    <div class="price">
        <mat-form-field appearance="fill">
            <mat-label>Precio - {{price}}</mat-label>
            <input type="number" [(ngModel)]="detail.price!" matInput placeholder="Precio">
        </mat-form-field>
    </div>
    <div class="product">
        <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Producto</mat-label>
            <input disabled type="text" placeholder="Producto" matInput [(ngModel)]="product!"
                (ngModelChange)="onChangeProduct($event)" [matAutocomplete]="productA" />
            <mat-autocomplete #productA="matAutocomplete" [displayWith]="onShowProduct">
                <mat-option *ngFor="let item of products" [value]="onShowProduct(item)" (click)="onSelectProduct(item)">
                    {{ onShowProduct(item) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="measureUnit">
        <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Unidad de Medida</mat-label>
            <input disabled type="text" placeholder="Unidad de Medida" matInput [(ngModel)]="measureUnit!"
                (ngModelChange)="onChangeMeasureUnit($event)" [matAutocomplete]="measureUnitA" />
            <mat-autocomplete #measureUnitA="matAutocomplete" [displayWith]="onShowMeasureUnit">
                <mat-option *ngFor="let item of measureUnits" [value]="onShowMeasureUnit(item)" (click)="onSelectMeasureUnit(item)">
                    {{ onShowMeasureUnit(item) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>