.form-amount {
    width: 33.33vw;
    max-width: 33.33vw;
}

::ng-deep .cdk-overlay-pane {
    width: 100vw !important;

}

:host .card ::ng-deep {
    .cdk-overlay-pane {
        width: 100vw !important;

    }

    .mdc-text-field {
        padding: 0;
        font-size: 12px;
    }

    .mat-mdc-text-field-wrapper {
        height: 50px;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        padding: 0;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-left: 10px;
    }
}

:host .card .amount ::ng-deep {
    .mdc-text-field {
        width: 20vw;
    }
}

:host .card .description ::ng-deep {
    .mdc-text-field {
        width: 80vw;
    }
}

:host .card .measure ::ng-deep {
    .mdc-text-field {
        width: 25vw;
    }
}

:host .card .price ::ng-deep {
    .mdc-text-field {
        width: 30vw;
    }
}

:host .card .total ::ng-deep {
    .mdc-text-field {
        width: 30vw;
    }
}

.card {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        width: 10px !important;
        max-width: 10px !important;


    }

    .content {
        display: flex;
        flex-direction: row;

        .total{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.product-packages{
    .title{
        display: flex;
        flex-direction: row;
    }
}

.product-prices{
    .title{
        display: flex;
        flex-direction: row;
    }
}