.form-amount {
    width: 33.33vw;
    max-width: 33.33vw;
}

::ng-deep .cdk-overlay-pane {
    width: 100vw !important;

}

:host .card ::ng-deep {
    .cdk-overlay-pane {
        width: 100vw !important;

    }

    .mdc-text-field {
        padding: 0;
        font-size: 12px;
    }

    .mat-mdc-text-field-wrapper {
        height: 50px;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        padding: 0;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-left: 10px;
    }
}


:host .order ::ng-deep {
    .mat-mdc-text-field-wrapper {
        height: 80px;
    }
    .mdc-text-field {
        width: 20vw;
    }
}

:host .description ::ng-deep {
    .mdc-text-field {
        width: 80vw;
    }
}

.content{
    display: flex;
    flex-direction: row;
    align-items: end;
}